

    <footer>
        <p id="footerUnsplash">Images courtesy of <a href="http://unsplash.com" target="_blank">unsplash</a></p>
        <p id="footerDev">Designed and Developed by Clayton Daly</p>
        <ul id="footerIcons">
            <li>
                <a href="https://github.com/cldaly" target="_blank">
                    <i class="fab fa-github-square fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/clayton-daly/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </li>
        </ul>
    </footer>

</body>
</html>