<% include ../views/partials/header.ejs %>

    <section id="titleSection">
        <div id="landingMain">
            <h1 id="landingTitle">Clayton Daly</h1>
            <p>Full Stack Web Developer</p>
            <div id="learnMore">
                <a href="#about">Learn More</a>
            </div>
        </div>
    </section>

    <section id="about">
        <img src="../img/clay-daly-01.png">
        <h3 class="sectionTitle">About me</h3>
        <div id="aboutMain">
            <p>
                I graduated from California Polytechnic State University, San Luis Obispo, in 2013 with a bachelor of science degree in Industrial Technology. 
                Soon after, in 2014, I began working in operations for a third party logistics company in Los Angeles, CA. 
                It was there that I decided that I wanted to pursuing a career in technology.
            </p>
            <p>
                In 2017 I went to work for a young tech startup, and I soon developed a passion for technology, coding, and web development. 
                I was able to spend time with our highly skilled engineering team every day, and in 2018 I was convinced that I was going to make this a career for myself as well.
            </p>
            <p>
                I decided to embark down a path to become a self-taught Full Stack Web Developer. 
                Starting with Harvard's CS50 (Introduction to Computer Science), and have since enrolled in and completed several other online courses for web development, and taken on several personal projects. 
                My passion for learning about software development and creating web applications continues to grow each day.
            </p>
            <p>
                I strive to create intuitive, responsive web applications, designed for the every-day user. 
                I am currently working to become proficient with Java, JavaScript and Angular, while I continue to push myself towards a career as a Full Stack Web Developer.
            </p>
        </div>
        <hr>
            
        <div id="technologiesList">
            <button id="techListBtn" hidden>Click here for list of technologies I have learned and regularly use</button>
            <h4 id="tech-header">Here is a list of technologies I have learned and regularly use</h4>
            <div id="techListContent">
                <div class="tech-row">
                    <div class="tech-container">
                        <h4>Languages</h4>
                        <ul>
                            <li>Java</li>
                            <li>JavaScript</li>
                            <li>Python</li>
                            <li>C</li>
                        </ul>
                    </div>
                    <div class="tech-container">
                        <h4>Databases</h4>
                        <ul>
                            <li>MySQL</li>
                            <li>Sqlite3</li>
                            <li>Oracle SQL</li>
                            <li>MongoDB</li>
                        </ul>
                    </div>
                </div>
                <div class="tech-row">
                    <div class="tech-container">
                        <h4>Frameworks & Libraries</h4>
                        <ul>
                            <li>Angular</li>
                            <li>ReactJS</li>
                            <li>ExpressJS</li>
                            <li>NodeJS</li>
                            <li>jQuery</li>
                            <li>Spring Boot</li>
                            <li>Flask (python)</li>
                        </ul>
                    </div>
                    <div class="tech-container">
                        <h4>Others</h4>
                        <ul>
                            <li>HTML5 & CSS3</li>
                            <li>Bootstrap 3 & 4</li>
                            <li>MaterialUI</li>
                            <li>Jira / Confluence</li>
                            <li>Git</li>
                            <li>Bash</li>
                            <li>Postman</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <h3 class="sectionTitle">My Projects</h3>
        <div id="projectsMain">

            <div class="projectCard">
                <div class="cardImg">
                    <a href="/musix-app"><img src="../img/musix-app-small.png" alt="Musix App"></a>
                </div>
                <div class="cardInfo">
                    <div class="cardDetails">
                        <h4 class="cardTitle"><a href="/musix-app">Musix App</a></h4>
                        <div class="cardDescription">
                            <p>A Web Application for users to find and save their favorite music albums to their personal profile.</p>
                            <p>Built using Java, Spring Boot, Angular, MySQL, and JavaScript</p>
                        </div>
                    </div>
                    <a class="projectLink" href="/musix-app">More Info on "Musix App"</a>
                </div>
            </div>

            <div class="projectCard">
                <div class="cardImg">
                    <a href="/train-ticket"><img src="../img/train-ticket-small.png" alt="Train Ticket Generator"></a>
                </div>
                <div class="cardInfo">
                    <div class="cardDetails">
                        <h4 class="cardTitle"><a href="/train-ticket">Train Ticket Generator</a></h4>
                        <div class="cardDescription">
                            <p>Creates a train ticket for a user based on a train database and a dynamic user form. Writes the ticket to a file and saves it to the user's Downloads folder.</p>
                            <p>Built using Java, Oracle SQL and JavaScript. </p>
                        </div>
                    </div>
                    <a class="projectLink" href="/train-ticket">More Info on "Train Ticket Generator"</a>
                </div>
            </div>

            <div class="projectCard">
                <div class="cardImg">
                    <a href="/my-spirit-circle"><img src="../img/my-spirit-circle-small.png" alt="My Spirit Circle"></a>
                </div>
                <div class="cardInfo">
                    <div class="cardDetails">
                        <h4 class="cardTitle"><a href="/my-spirit-circle">My Spirit Circle</a><span class="wop">  (work in progress)</span></h4>
                        <div class="cardDescription">
                            <p>A personal project I embarked on in July 2019, this web application started as both a business idea and a project to further learn about full stack web development.<br>Developed using Node.js, Express.js, as well as HTML, CSS, and front-end Javascript.</p>
                        </div>
                    </div>
                    <a class="projectLink" href="/my-spirit-circle">More Info on "My Spirit Circle"</a>
                </div>
            </div>

            <div class="projectCard">
                <div class="cardImg">
                    <a href="/rileys-candles"><img src="../img/rileys-candles-small.png" alt="Riley's Candles"></a>
                </div>
                <div class="cardInfo">
                    <div class="cardDetails">
                        <h4 class="cardTitle"><a href="/rileys-candles">Riley's Candles</a></h4>
                        <p class="cardCourse"><strong>Class:</strong> Harvard CS50 - Introduction to Computer Science</p>
                        <p class="cardDescription">A simple e-commerce type web app designed for my final class project. Built off of Flask and Python, utilizing Sqlite3 and Javascript for functionality.</p>
                    </div>
                    <a class="projectLink" href="/rileys-candles">More Info on "Riley's Candles"</a>
                </div>
            </div>

            <div class="projectCard">
                <div class="cardImg">
                    <a href="/tic-tac-toe"><img src="../img/tic-tac-toe-01.png" alt="Tic Tac Toe"></a>
                </div>
                <div class="cardInfo">
                    <div class="cardDetails">
                        <h4 class="cardTitle"><a href="/tic-tac-toe">Tic Tac Toe</a></h4>
                        <div class="cardDescription">
                            <p>While trying to gain a better understanding of Javascript, I decided to create a 2-player tic tac toe game.</p>
                            <p>This was created using very simple HTML & CSS, along with 280 lines of Javascript and features a scoreboard and modal popup to announce the game winner.</p>
                            <p>Play a few rounds by following the link below!</p>
                        </div>
                    </div>
                    <a class="projectLink" href="/tic-tac-toe">Play Tic Tac Toe</a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <h3 class="sectionTitle">Contact Me</h3>
        <hr>
        <div id="contactMain">
            <img id="contactImg" src="../img/unsplash-contact-01.jpeg"></img>
            <ul>
                <li><a href="mailto:clayton.daly91@gmail.com" target="_blank"><i class="fas fa-envelope"></i> Clayton.Daly91@Gmail.com</a></li>
                <li><a href="https://github.com/cldaly" target="_blank"><i class="fab fa-github-square"></i> Github</a></li>
                <li><a href="https://www.linkedin.com/in/clayton-daly/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
                <li><a href="/docs/claytonDalyResume.pdf" target="_blank"><i class="fas fa-file-alt"></i> View my Résumé</a></li>
            </ul>
        </div>
    </section>


<script type="text/javascript" src="../scripts.js"></script>
<% include ../views/partials/footer.ejs %>