<% include ../views/partials/header.ejs %>

    <section id="titleSection">
        <div id="landingMain">
            <h1 id="landingTitle">Clayton Daly</h1>
            <p>Full Stack Web Developer</p>
            <div id="learnMore">
                <a href="#about">Learn More</a>
            </div>
        </div>
    </section>

    <section id="aboutSection">
        <img src="../img/clay-daly-01.png">
        <h3 class="sectionTitle">About me</h3>
        <div id="aboutMain">
            <p>I graduated from California Polytechnic State University, San Luis Obispo, in 2013 with a bachelor of science degree in Industrial Technology. Soon after, in 2014, I began working in operations for a third party logistics company in Los Angeles, CA. It was there that I decided that I wanted to have a career in technology.</p>
            <p>In 2017 I went to work for a young tech startup, also working in the freight and transportation industry. It was there that my love for tech and web development started. I was able to spend time with our highly skilled engineering team every day, and in 2018 I decided that I wanted to head down that path myself.</p>
            <p>I decided to embark down a path to becoming a self-taught Full Stack Web Developer. I completed Harvard's CS50 (Introduction to Comuter Science), and have erolled in and completed several other online courses. My love for learning software development and creating web applications continues to grow each day.</p>
            <p>I strive to create intuitive, responsive web applications, designed for everyone.  Today, I am working on a few personal web app projects, while I strive to enter this career field as a Full Stack Web Developer.</p>
        </div>
        <hr>
            
        <div id="technologiesList">
            <button id="techListBtn">Click here for list of technologies I have learned and regularly use:</button>
            <ul id="techListContent">
                <li>Javascript</li>
                <li>Python</li>
                <li>C</li>
                <li>jQuery</li>
                <li>ExpressJS</li>
                <li>NodeJS</li>
                <li>EJS</li>
                <li>Flask (python)</li>
                <li>Sqlite3</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>HTML & CSS</li>
                <li>Bootstrap 3 & 4</li>
                <li>Jira / Confluence</li>
                <li>Git</li>
                <li>Bash</li>
                <li>Postman</li>
            </ul>
        </div>
    </section>

    <section id="projects">
        <h3 class="sectionTitle">My Projects</h3>
        <div id="projectsMain">

            <div class="projectCard">
                <div class="cardImg">
                    <a href="/my-spirit-circle"><img src="../img/my-spirit-circle-small.png" alt="My Spirit Circle"></a>
                </div>
                <div class="cardInfo">
                    <div class="cardDetails">
                        <h4 class="cardTitle">My Spirit Circle<span class="wop">  (work in progress)</span></h4>
                        <div class="cardDescription">
                            <p>A personal project I embarked on in July 2019, this web application started as both a business idea and a project to further learn about full stack web development.</p>
                            <p>Developed using Node.js, Express.js, as well as HTML, CSS, and front-end Javascript.</p>
                        </div>
                    </div>
                    <a class="projectLink" href="/my-spirit-circle">More Info on "My Spirit Circle"</a>
                </div>
            </div>

            <div class="projectCard">
                <div class="cardImg">
                    <a href="/rileys-candles"><img src="../img/rileys-candles-small.png" alt="Riley's Candles"></a>
                </div>
                <div class="cardInfo">
                    <div class="cardDetails">
                        <h4 class="cardTitle">Riley's Candles</h4>
                        <p class="cardCourse"><strong>Class:</strong> Harvard CS50 - Introduction to Computer Science</p>
                        <p class="cardDescription">A simple e-commerce type web app designed for my final class project. Built off of Flask and Python, utilizing Sqlite3 and Javascript for functionality.</p>
                    </div>
                    <a class="projectLink" href="/rileys-candles">More Info on "Riley's Candles"</a>
                </div>
            </div>

            <div class="projectCard">
                <div class="cardImg">
                    <a href="/tic-tac-toe"><img src="../img/tic-tac-toe-01.png" alt="Tic Tac Toe"></a>
                </div>
                <div class="cardInfo">
                    <div class="cardDetails">
                        <h4 class="cardTitle">Tic Tac Toe</h4>
                        <div class="cardDescription">
                            <p>While trying to gain a better understanding of Javascript, I decided to create a 2-player tic tac toe game.</p>
                            <p>This was created using very simple HTML & CSS, along with 280 lines of Javascript and features a scoreboard and modal popup to announce the game winner.</p>
                            <p>Play a few rounds by following the link below!</p>
                        </div>
                    </div>
                    <a class="projectLink" href="/tic-tac-toe">Play Tic Tac Toe</a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <h3 class="sectionTitle">Contact Me</h3>
        <hr>
        <div id="contactMain">
            <img id="contactImg" src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4076&q=80"></img>
            <ul>
                <li><a href="mailto:clayton.daly91@gmail.com" target="_blank"><i class="fas fa-envelope"></i> Clayton.Daly91@Gmail.com</a></li>
                <li><a href="https://github.com/cldaly" target="_blank"><i class="fab fa-github-square"></i> Github</a></li>
                <li><a href="https://www.linkedin.com/in/clayton-daly/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
            </ul>
        </div>
    </section>


<script type="text/javascript" src="../scripts.js"></script>
<% include ../views/partials/footer.ejs %>