<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23839d1fc8.js"></script>
    <title>Clayton Codes</title>
</head>
<body>
    <header>
        <h2><a href="#">Clayton Codes</a></h2>
        <nav>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </nav>
    </header>

    <section id="titleSection">
        <div id="landingMain">
            <h1 id="landingTitle">Clayton Daly</h1>
            <p>Full Stack Web Developer</p>
            <div id="learnMore">
                <a href="#about">Learn More</a>
            </div>
        </div>
    </section>

    <section id="aboutSection"><a id="about"></a>
        <h3>About me</h3>
        <p>Wouldn't you like to know...</p>
    </section>


<footer>
    <p>Images courtesy of <a href="http://unsplash.com" target="_blank">unsplash</a></p>
    <p>Designed and Developed by Clayton Daly</a></p>
    <ul>
        <li>
            <a href="https://github.com/cldaly" target="_blank">
                <i class="fab fa-github-square fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/clayton-daly/" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>