/* GENERAL */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #ebf0f5;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 6vh;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.7;
  color: #000;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

a:hover {
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 1;
}

hr {
    margin: 5px auto;
    border: 0;
    height: 2px;
    width: 90%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(21, 42, 71, 0)), color-stop(rgba(21, 42, 71, 0.75)), to(rgba(21, 42, 71, 0)));
    background-image: -o-linear-gradient(left, rgba(21, 42, 71, 0), rgba(21, 42, 71, 0.75), rgba(21, 42, 71, 0));
    background-image: linear-gradient(to right, rgba(21, 42, 71, 0), rgba(21, 42, 71, 0.75), rgba(21, 42, 71, 0));
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 80px 60px;
}

.sectionTitle {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media (max-width: 900px) {
  section {
    padding: 60px 20px 40px;
  }
}

/* HEADER SECTION */

header {
  position: fixed;
  height: 6vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
  color: #000;
  background-color: #ffe4b5;
  z-index: 1;
  opacity: 0.95;
}

header h2 {
  font-size: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 5px 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 900px) {
  header {
    position: absolute;
    padding: 5px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
    opacity: 1;
  }
  header nav li {
    padding-bottom: 5px;
  }
  header nav {
    margin: 5px 0;
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 400px) {
  header nav li {
    margin: 0 10px;
  }
  header nav {
    font-size: 0.9em;
  }
}


/* Footer */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffe4b5;
  color: #000;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vh;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 0.85em;
  opacity: 0.8;
}

#footerUnsplash{
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
#footerDev{
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
#footerIcons{
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 900px) {
  body {
    padding-bottom: 0;
  }
  footer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  footer p {
    text-align: center;
  }
  footer ul li {
    margin: 0 10px;
  }
  #footerUnsplash{
    margin-top: 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #footerDev{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #footerIcons{
    font-size: 0.9em;
    margin-top: 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.backBtn {
  font-size: 1.1em;
  color: #152a47;
  text-align: center;
  margin: 20px auto;
}


/* LANDING TITLE SECTION */

#landingTitle {
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  color: #000;
}

#landingMain {
  text-align: center;
  padding: 20px 0 40px;
}

#landingMain p {
  font-size: 1.5em;
  text-align: center;
  color: #000;
}

#titleSection {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
  padding-top: 30vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/unsplash-landing-01.jpeg");
}

#learnMore {
  margin: 20px auto 0;
}

#learnMore a {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #000;
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#learnMore a:hover {
  background-color: #fff4e0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#learnMore a:active {
  background-color: #ffe4b5;
  -webkit-transition: 0.02s;
  -o-transition: 0.02s;
  transition: 0.02s;
}

@media (max-width: 900px) {
  #landingTitle {
    font-size: 2.75rem;
  }
  #landingMain p {
    font-size: 1em;
  }
  #learnMore a {
    padding: 6px 8px;
    font-size: 0.8em;
  }
}

@media (max-width: 400px) {
  #landingTitle {
    font-size: 2.5rem;
    letter-spacing: 0.05em;
  }
}

/* ABOUT SECTION */

#about {
  width: 80%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 0;
}

#about img {
  margin-top: 8vh;
  height: auto;
  width: 300px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 50%;
  margin-bottom: 20px;
}

#aboutMain {
  margin-bottom: 20px;
}

#aboutMain p {
  text-align: left;
  padding: 10px;
}

#technologiesList {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px auto;
  width: 100%;
}

#techListBtn {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
  font-size: 1em;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 20px;
}

#techListBtn:hover {
  background-color: #ffe4b5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#techListBtn:focus {
  outline: none;
}

#techListBtn:active {
  background-color: #f79e02;
  -webkit-transition: 0.02s;
  -o-transition: 0.02s;
  transition: 0.02s;
  outline: none;
}

#techListContent {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  -webkit-transition: max-height 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

#techListContent .tech-row {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#techListContent .tech-row .tech-container {
  min-width: 200px;
  margin: 10px 25px;
}

#techListContent .tech-row .tech-container ul {
  margin-top: 5px;
}

@media (max-width: 900px) {
  #about {
    width: 95%;
  }
  #about img {
    width: 250px;
    margin-top: 40px;
  }
  #techListContent {
    font-size: 0.9em;
  }
  #techListContent .tech-row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  #techListBtn {
    width: 80%;
    word-wrap: normal;
    margin: 0 auto;
  }
}

/* MY PROJECTS SECTION */

#projects {
  color: #fff;
  background-color: #485263;
}

.projectCard {
  background-color: #eee;
  color: #000;
  margin: 50px auto;
  padding: 15px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  max-width: 1000px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75em;
  margin-bottom: 10px;
  /*font-weight: 400;*/
  letter-spacing: 0.14em;
}

.cardTitle .wop {
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  padding-left: 5px;
  font-size: 0.6em;
  opacity: 0.75;
}

.cardTitle a {
  opacity: 0.75;
}
.cardTitle a:hover {
  opacity: 1;
}

.cardImg {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cardImg a {
  opacity: 1;
}

.cardImg img {
  width: 300px;
  height: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardInfo {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cardDetails p {
  padding: 5px 5px 10px;
}

.projectLink {
  font-size: 1.2em;
  margin: 0 0 10px 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 900px) {
  .projectCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.05em;
  }
  .cardImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .cardInfo {
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .cardImg img {
    width: 100%;
    max-width: 500px;
  }
  .cardImg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projectLink {
    margin: 15px 0;
    font-size: 1em;
  }
  .projectLink {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .cardDetails p {
    font-size: 0.9em;
    padding: 5px 10px 10px;
  }
}

/* CONTACT SECTION */

#contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 25px;
}

#contactImg {
  width: 350px;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#contactMain ul {
  margin-left: 40px;
}
#contactMain li a {
  font-size: 1.2em;
}

#contactMain li i {
  color: #152a47;
  font-size: 1.3em;
  width: 20px;
  margin: 5px;
}

@media (max-width: 900px) {
  #contactMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contactImg {
    width: 275px;
  }
  #contactMain ul {
    margin-top: 20px;
    margin-left: 0;
  }
}


/* Project Page */

.projectSection {
  height: 100%;
  width: 100%;
  background-color: #485263;
  padding: 100px 0 60px;
}

.projectMain {
  background-color: #eee;
  margin: 0 auto 20px;
  width: 1200px;
  max-width: 90%;
  padding: 15px;
  border-radius: 4px;
}

.projectHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.projectHeaderContent {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-left: 20px;
}

.projectHeaderContent h2 {
  font-size: 2.5em;
  font-weight: 400;
}

.projectHeaderContent p {
  margin-top: 15px;
  margin-right: 20px;
}

.projectHeader img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 400px;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.projectDetails {
  padding: 20px;
}

.projectDescription p {
  line-height: 1.2em;
  padding: 10px;
}

.projectDescription {
  margin-bottom: 10px;
}

.projectTech ul {
  padding-left: 10px;
}

.projectTech ul li {
  padding-top: 5px;
}

.projectSection .backBtn a {
  color: #eee;
}


@media (max-width: 900px) {
  .projectHeader img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .projectSection {
    padding: 40px 0 40px;
  }
  .projectMain {
    width: 100%;
    margin-top: 12vh;
    padding: 15px 5px 10px;
  }
  .projectHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectHeaderContent {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .projectHeaderContent h2 {
    text-align: center;
  }
  .projectHeaderContent p {
    margin:15px 30px;
  }
  .projectHeader img {
    width: 90%;
  }
  .projectDetails {
    padding: 20px 10px;
  }
  @media (max-height: 450px) {
    .projectMain {
      margin-top: 18vh;
    }
  }
}

.projectGallery {
  padding: 20px;
}

.projectGallery h3 {
  font-weight: 400;
  font-size: 1.6em;
  text-align: center;
}

.galleryMain {
  margin: 25px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.projectImg:last-child {
  margin-bottom: 0;
}

.projectImg img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 15px;
}

.projectImgInfo {
  width: 75%;
  margin: 0 auto;
}

.imgGroup {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.projectImg .imgGroup img {
  width: 50%;
  margin: 0 5px 15px;
}

.projectGallery hr {
    margin: 25px auto 0;
    border: 0;
    height: 1px;
    width: 90%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(52, 79, 117, 0)), color-stop(rgba(52, 79, 117, 0.75)), to(rgba(52, 79, 117, 0)));
    background-image: -o-linear-gradient(left, rgba(52, 79, 117, 0), rgba(52, 79, 117, 0.75), rgba(52, 79, 117, 0));
    background-image: linear-gradient(to right, rgba(52, 79, 117, 0), rgba(52, 79, 117, 0.75), rgba(52, 79, 117, 0));
}

@media (max-width: 900px) {
  .projectImg img {
    width: 100%;
  }
  .imgGroup {
    width: 100%;
  }
  .projectGallery {
    padding: 20px 10px;
  }
  .projectImgInfo {
    width: 90%;
  }
  
}






