/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 6vh;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.7;
  color: #000;
  transition: opacity 0.2s;
}

a:hover {
  transition: opacity 0.2s;
  opacity: 1;
}

hr {
    margin: 5px auto;
    border: 0;
    height: 2px;
    width: 90%;
    background-image: linear-gradient(to right, rgba(21, 42, 71, 0), rgba(21, 42, 71, 0.75), rgba(21, 42, 71, 0));
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px 60px;
}

.sectionTitle {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media (max-width: 900px) {
  section {
    padding: 60px 20px 40px;
  }
}

/* HEADER SECTION */

header {
  position: fixed;
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  color: #000;
  background-color: #ffe4b5;
  z-index: 1;
  opacity: 0.95;
}

header h2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 5px 0;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 900px) {
  header {
    position: absolute;
    padding: 5px 0;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }
  header nav li {
    padding-bottom: 5px;
  }
  header nav {
    font-size: 0.8em;
    display: flex;
    margin-right: 0;
    justify-content: space-around;
  }
}


/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffe4b5;
  color: #000;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vh;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 0.85em;
  opacity: 0.8;
}

footer a {
  color: #000;
}

#footerUnsplash{
  order: 1;
}
#footerDev{
  order: 2;
}
#footerIcons{
  order: 3;
}

@media (max-width: 900px) {
  body {
    padding-bottom: 0;
  }
  footer {
    height: auto;
    flex-direction: column;
    position: relative;
  }
  footer p {
    text-align: center;
  }
  footer ul li {
    margin: 0 10px;
  }
  #footerUnsplash{
    margin-top: 10px;
    order: 2;
  }
  #footerDev{
    order: 1;
  }
  #footerIcons{
    font-size: 0.9em;
    margin-top: 10px;
    order: 3;
  }
}

.backBtn {
  font-size: 1.1em;
  color: #152a47;
  text-align: center;
  margin: 20px auto;
}


/* LANDING TITLE SECTION */

#landingTitle {
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 10px;
}

#landingMain {
  text-align: center;
  padding: 20px 0 40px;
}

#landingMain p {
  font-size: 1.5em;
  text-align: center;
  color: #000;
}

#titleSection {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
  padding-top: 30vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/unsplash-landing-01.jpeg");
}

#landingMain h1 {
  letter-spacing: 0.1em;
  color: #000;
}

#learnMore {
  margin: 20px auto 0;
}

#learnMore a {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #000;
  width: 150px;
  align-self: center;
  transition: 0.2s;
}

#learnMore a:hover {
  background-color: #fff4e0;
  transition: 0.2s;
}
#learnMore a:active {
  background-color: #ffe4b5;
  transition: 0.02s;
}

@media (max-width: 900px) {
  #landingTitle {
    font-size: 2.5rem;
  }
  #landingMain p {
    font-size: 1em;
  }
  #learnMore a {
    padding: 6px 8px;
    font-size: 0.8em;
  }
}

/* ABOUT SECTION */

#aboutSection {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 0;
}

#aboutSection img {
  margin-top: 8vh;
  height: auto;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 50%;
  margin-bottom: 20px;
}

#aboutMain {
  margin-bottom: 20px;
}

#aboutMain p {
  text-align: left;
  padding: 10px;
}

#technologiesList {
  margin: 20px auto;
}

#techListBtn {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
  font-size: 1em;
  transition: 0.2s;
  margin-bottom: 20px;
}

#techListBtn:hover {
  background-color: #ffe4b5;
  transition: 0.2s;
}

#techListBtn:focus {
  outline: none;
}

#techListBtn:active {
  background-color: #f79e02;
  transition: 0.02s;
  outline: none;
}

#techListContent {
  max-height: 0;
  overflow: hidden;
  padding: 0 40px;
  text-align: left;
  transition: max-height 0.5s ease-in;
}

@media (max-width: 900px) {
  #aboutSection {
    width: 95%;
  }
  #aboutSection img {
    width: 250px;
    margin-top: 40px;
  }
}

/* MY PROJECTS SECTION */

#projects {
  color: #fff;
  background-color: #485263;
}

.projectCard {
  background-color: #eee;
  color: #000;
  margin: 50px auto;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.75em;
  margin-bottom: 10px;
  /*font-weight: 400;*/
  letter-spacing: 0.14em;
}

.cardTitle .wop {
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  padding-left: 5px;
  font-size: 0.6em;
}

.cardImg {
  order: 1;
  align-self: center;
}

.cardImg a {
  opacity: 1;
}

.cardImg img {
  width: 300px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardInfo {
  align-items: stretch;
  order: 2;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardDetails p {
  padding: 5px 5px 10px;
}

.projectLink {
  font-size: 1.2em;
  margin: 0 0 10px 20px;
  align-self: flex-start;
}

@media (max-width: 900px) {
  .projectCard {
    flex-direction: column;
  }
  .cardTitle {
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.05em;
  }
  .cardImg {
    order: 2;
  }
  .cardInfo {
    margin-left: 0;
    order: 1;
  }
  .cardImg img {
    width: 100%;
    max-width: 500px;
  }
  .cardImg {
    align-self: center;
  }
  .projectLink {
    margin: 15px 0;
    font-size: 1em;
  }
  .projectLink {
    align-self: center;
  }
  .cardDetails p {
    font-size: 0.9em;
    padding: 5px 10px 10px;
  }
}

/* CONTACT SECTION */

#contactMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 25px;
}

#contactImg {
  width: 350px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#contactMain ul {
  margin-left: 40px;
}
#contactMain li a {
  font-size: 1.2em;
}

#contactMain li i {
  color: #152a47;
  font-size: 1.3em;
  width: 20px;
  margin: 5px;
}

@media (max-width: 900px) {
  #contactMain {
    flex-direction: column;
  }
  #contactImg {
    width: 275px;
  }
  #contactMain ul {
    margin-top: 20px;
    margin-left: 0;
  }
}


/* Project Page */

.projectSection {
  height: 100%;
  width: 100%;
  background-color: #485263;
  padding: 100px 0 60px;
}

.projectMain {
  background-color: #eee;
  margin: 0 auto 20px;
  width: 1200px;
  max-width: 90%;
  padding: 15px;
  border-radius: 4px;
}

.projectHeader {
  display: flex;
  margin-bottom: 20px;
}

.projectHeader img {
  order: -1;
}

.projectHeaderContent {
  order: 0;
  margin-left: 20px;
}

.projectHeaderContent h2 {
  font-size: 2.5em;
  font-weight: 400;
}

.projectHeaderContent p {
  margin-top: 15px;
  margin-right: 20px;
}

.projectHeader img {
  width: 400px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.projectDetails {
  padding: 20px;
}

.projectDescription p {
  line-height: 1.2em;
  padding: 10px;
}

.projectTech ul {
  padding-left: 10px;
}

.projectTech ul li {
  padding-top: 5px;
}

.projectSection .backBtn a {
  color: #eee;
}


@media (max-width: 900px) {
  .projectHeader img {
    align-self: center;
    order: 1;
  }
  .projectSection {
    padding: 40px 0 40px;
  }
  .projectMain {
    width: 100%;
    margin-top: 10vh;
    padding: 15px 5px;
  }
  .projectHeader {
    flex-direction: column;
  }
  .projectHeaderContent {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .projectHeaderContent h2 {
    text-align: center;
  }
  .projectHeaderContent p {
    margin:15px 30px;
  }
  .projectHeader img {
    width: 90%;
  }
  .projectDetails {
    padding: 20px 10px;
  }
}

.projectGallery {
  padding: 20px;
}

.projectGallery h3 {
  font-weight: 400;
  font-size: 1.6em;
  text-align: center;
}

.galleryMain {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.projectImg {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.projectImg img {
  align-self: center;
  width: 75%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 15px;
}

.projectImg img:hover {
  cursor: pointer;
}

.projectImgInfo {
  width: 75%;
  margin: 0 auto;
}

.projectGallery hr {
    margin: 25px auto 0;
    border: 0;
    height: 1px;
    width: 90%;
    background-image: linear-gradient(to right, rgba(52, 79, 117, 0), rgba(52, 79, 117, 0.75), rgba(52, 79, 117, 0));
}

@media (max-width: 900px) {
  .projectImg img {
    width: 95%;
  }
  .projectGallery {
    padding: 20px 10px;
  }
  .projectImgInfo {
    width: 90%;
  }
}







